.amenities_list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  li {
    display: flex;
    margin-top: 25px;
    align-content: center;
    flex: 1 50%;
    align-items: center;

    &:nth-of-type(odd) {
      padding-right: 3%;
    }

    @media screen and (min-width: 992px) and (max-width: 1400px) {
      flex: 100%;
      margin-top: 5px;
    }

    img {
      width: auto;
      max-width: 50px;
      height: auto;
      margin: 0 15px 15px 0;

      @media screen and (min-width: 992px) and (max-width: 1500px) {
        max-width: 25px;
      }
    }

    h5 {
      font-family: $body-font;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
