.map-accordion-legend {
  position: relative;

  button {
    padding: 0;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    &:hover,
    &:active,
    &:focus {
      outline: 0;
      text-decoration: none;
      box-shadow: none;
    }

    > h3 {
      margin: 0;
    }
  }
}

.map-subheading {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: 50px !important;
}

.accordion {
  .card {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    .card-header {
      background-color: transparent;
      border: 0;
      padding: 0;
      border-bottom: 1px solid $secondary-color;
      margin-bottom: 0;

      .btn-link {
      }
    }

    .card-body {
      padding: 10px 25px;

      ol {
        padding: 0;
      }
    }
  }
}

.marker-category {
  position: relative;
  padding: 10px 15px 10px 60px !important;
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;

  &:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: 10px;
    top: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  &:after {
    background-image: url("../images/plus.svg");
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    right: 10px;
    top: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  > h3 {
    font-size: 18px !important;
    font-weight: 500;
    color: $secondary-color;
  }

  &.active {
    h3 {
      color: $white-color;
    }
  }
}

.map-card {
  position: unset;
}

.neighbourhood-header {
  h2.section_heading {
    @media screen and (min-width: 992px) and (max-width: 1350px) {
      font-size: 4rem;
    }
  }
}

.map-markers {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  height: 35vw;
  overflow: hidden;

  @media screen and (max-width: 991px) {
    position: relative;
    right: 0;
    left: 0;
    width: 86vw;
    height: 46vw;
    background-image: url("../images/map.jpg");
    background-size: 86vw 46vw;
    background-repeat: no-repeat;
    border: 1px solid #102842;
  }

  ul {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .marker-pin {
    cursor: pointer;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    span {
      display: block;
      width: 3.5vw;
      height: 3.5vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (max-width: 991px) {
        width: 5.75vw;
        height: 5.75vw;
      }
    }
  }
}

.collapsing {
  position: unset;
}

.marker-category-header {
  min-width: 325px;

  &.active {
    .marker-category {
      &:before {
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
      }
      &:after {
        background-image: url("../images/minus.svg");
        height: 2px;
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
      }
    }
    .restaurants-category {
      color: $white;
      background-color: $restaurant-color;
    }

    .cafes--coffee-shops-category {
      color: $white;
      background-color: $cafe-color;
    }

    .schools--daycare-category {
      color: $white;
      background-color: $schools-color;
    }

    .parks--recreation-category {
      color: $white;
      background-color: $parks-color;
    }

    .hospitals--clinics-category {
      color: $white;
      background-color: $hospital-color;
    }

    .shops--grocers-category {
      color: $white;
      background-color: $shops-color;
    }
  }
}

.restaurants-category {
  &:before {
    background-image: url("../images/restaurants-icon.svg");
  }
}

.cafes--coffee-shops-category {
  &:before {
    background-image: url("../images/cafe-icon.svg");
  }
}

.schools--daycare-category {
  &:before {
    background-image: url("../images/school-icon.svg");
  }
}

.parks--recreation-category {
  &:before {
    background-image: url("../images/parks-icon.svg");
  }
}

.hospitals--clinics-category {
  &:before {
    background-image: url("../images/hospital-icon.svg");
  }
}

.shops--grocers-category {
  &:before {
    background-image: url("../images/shop-icon.svg");
  }
}

/* Markers */
.marker-restaurants {
  span {
    background-image: url("../images/restaurant-pin.svg");
  }
}
.marker-cafes--coffee-shops {
  span {
    background-image: url("../images/cafe-pin.svg");
  }
}
.marker-schools--daycare {
  span {
    background-image: url("../images/school-pin.svg");
  }
}
.marker-shops--grocers {
  span {
    background-image: url("../images/shops-pin.svg");
  }
}
.marker-parks--recreation {
  span {
    background-image: url("../images/park-pin.svg");
  }
}
.marker-hospitals--clinics {
  span {
    background-image: url("../images/hospital-pin.svg");
  }
}

.map-container {
  position: absolute;
  width: 60vw;
  height: 35vw;
  top: 0;
  right: 0;
  overflow: hidden;
  border: 1px solid #102842;

  @media screen and (max-width: 991px) {
    display: none;
  }
}

.map-img {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../images/map.jpg");
  background-size: 60vw 35vw;
  background-repeat: no-repeat;
  width: 60vw;
  height: 35vw;
  overflow: hidden;
}

.main_marker {
  position: absolute;
  left: 73%;
  top: 39%;
  width: 7vw;
  height: 7vw;
  z-index: 1;
  background-image: url("../images/main-pin.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  &.inner_marker {
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
}
