.btn-primary,
.hero-btn {
  cursor: pointer;
  font-family: $body-font;
  position: relative;
  padding: 15px 40px;
  line-height: 1;
  border-color: $primary-color;
  background-color: $primary-color;
  color: $black-color;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;

  &:before {
    content: "";
    width: 40px;
    height: 1px;
    background-color: $white-color;
    position: absolute;
    top: 50%;
    left: -12%;
    z-index: 1;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $secondary-color;
    background-color: $secondary-color;
    color: $white-color;
    box-shadow: none;
  }
}

.btn-reg {
  margin-top: 30px;
  border-color: $dark-green-color;
  background-color: $dark-green-color;
  color: $white-color;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus {
    border-color: $secondary-color;
    background-color: $secondary-color;
    color: $white-color;
  }

  &:disabled {
    border-color: $secondary-color;
    background-color: $secondary-color;
    opacity: 0.6;
  }
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  border-color: $secondary-color;
  background-color: $secondary-color;
  color: $white-color;
}
